body {
    background-color: #efeae4;
    color: #373737;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal */
}

/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 90px;
    background-color: #efeae4;
    color: #373737;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
}


/* INTERFACE */
.interface {
    max-width: 1200px;
    margin: 0 auto;
}


/* FLEX */
.flex {
    display: flex;
}

/* BOTÃO */
.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8db986;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0 0 8px #8db986;
    transform: scale(1.05);
}

/* TÍTULOS */
h2.titulo {
    color: #373737;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #acce91;
}

/* HEADER */
header {
    padding: 15px 4%;
    background-color: #f2efeb;
    box-shadow: 0px 2px 8px #c0bebc34;
    position: fixed; /* Fixar a header */
    top: 0;
    width: 100%; /* Ocupar toda a largura da página */
    z-index: 1000; /* Garantir que fique acima de outros elementos */
    
}

header a {
    text-decoration: none !important; /* Remove o sublinhado com maior prioridade */
    color: inherit;
}

header a h1 {
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado diretamente no h1 também */
}

header .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-loja {
    font-size: 36px;
    margin-bottom: 10px;
    color: #8db986;
}

.menu-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    
}

.menu-nav ul li a {
    text-decoration: none;
    color: #373737;
    transition: .2s;
}

.menu-nav ul li a:hover {
    color: #8db986;
}

/* ESTILO MENU MOBILE */
.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #8db986;
    font-size: 40px;
    cursor: pointer;
}

.menu-mobile{
    background-color: #efeae4;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 10px 5%; 
}

.menu-mobile .btn-fechar i{
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

.menu-mobile ul{
    display: block;
    flex-direction: column;
    text-align: right;
    height: 100%;
}

.menu-mobile ul li a{
    color: #373737;
    font-size: 20px;
    text-decoration: none;
    transition: .2s;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 20px 8%;
    display: block;
}

.menu-mobile ul li a:hover{
    background-color: #8db986;
}

.overlay-menu{
    background-color: #00000069;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

/* ESTILO TOPO DO SITE */
section.topo-do-site {
    text-align: center;
    padding: 0; /* Remove padding da seção específica */
    margin: 0; /* Remove margem */
}

section.topo-do-site .interface {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 4%; /* Mantém padding para a parte textual */
}

section.topo-do-site .banner {
    width: 100vw; /* Faz a largura do banner ocupar 100% da viewport */
    position: relative; /* Remove o impacto do padding geral */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o contêiner */
}

section.topo-do-site .banner img {
    width: 100%;
    height: auto;
    display: block; /* Remove o espaço em branco abaixo da imagem */
}

/* INTERFACE */
.interface {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%; /* Adiciona padding lateral para a interface */
}


.topo-do-site h1 {
    margin-top: 30px;
    font-size: 42px;
    line-height: 1.2;
    text-align:left;
}

.topo-do-site h1 span {
    color: #8db986;
}

.topo-do-site p {
    margin: 20px 0;
    text-align: left;
}

.topo-do-site img {
    width: 50%;
}

/* Estilo para a seção de produtos */
section.produtos {
    padding: 90px 4%;
}

.produto-retangulo {
    margin-top: 40px;
    width: 250px;
    height: 500px; /* Altura maior do retângulo */
    margin-bottom: 20px;
    margin-right: 30px;
    transition: 0.3s;
    border-radius: 10px;

}

.produto-retangulo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #3737377a;
}

.produto-retangulo img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    cursor: pointer;
}

.produto-quadrado {
    margin-top: 40px;
    width: 250px; /* Largura dos quadrados com espaçamento */
    height: 250px; /* Altura dos quadrados */
    margin-right: 30px; /* Espaçamento entre os quadrados */
    margin-bottom: 10px; /* Espaçamento abaixo dos quadrados */
    display: inline-block;
    vertical-align: top;
    text-align: center;
    transition: 0.3s;
    border-radius: 10px;
}

.produto-quadrado:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #3737377a;
}

.produto-imagem {
    height: 100%; /* Altura total do quadrado */
}

.produto-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.produto-descricao {
    margin: 0;
    color: #373737;
    font-size: 16px;
    padding: 10px; /* Espaçamento interno */
    text-align: justify;

}

p.preco{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 30px 0;
    
}


.btn-compre button {
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 600;
    color: #f2efeb;
    background-color: #8db986;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
}

.btn-compre button:hover {
    box-shadow: 0 0 8px #3737377a;
    transform: scale(1.05);
}

/* ESPECIALIDADES */
section.especialidades {
    padding: 100px 4%;
}

section.especialidades .flex {
    gap: 60px;
    justify-content: center;
}

.especialidades .especialidades-box {
    color: #efeae4;
    padding: 40px;
    border-radius: 20px;
    background-color: #373737;
    transition: .2s;
    text-align: center;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #3737377a;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #8db986;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* SOBRE */
section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    gap: 50px;
    align-items: center;
}

.sobre .txt-sobre {
    color: #373737;
}

.sobre .txt-sobre h2 {
    font-size: 38px;
    margin: 20px 0;
    line-height: 40px;
    text-align: left;
}

.sobre .txt-sobre h2 span {
    color: #8db986;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

/* FORMULÁRIO DE CONTATO */
section.contato {
    padding: 40px 4%;
}

section.contato .interface {
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    color: #373737;
    margin-bottom: 5px;
}

.form-input,
.form-textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #373737;
    background-color: #efeae4;
    color: #373737;
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
    border-color: #8db986;
}

.form-textarea {
    height: 150px;
    resize: vertical;
}

.form-button {
    padding: 10px 20px;
    background-color: #8db986;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #efeae4;
    cursor: pointer;
    transition: .2s;
}

.form-button:hover {
    box-shadow: 0 0 8px #8db986;
    transform: scale(1.05);
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 40px 4%;
}

section.portfolio .flex {
    margin-top: 40px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    transform: .2s;
}

.img-port-container {
    text-align: center; /* Centraliza o conteúdo do contêiner */
    margin-bottom: 40px; /* Espaçamento abaixo do contêiner */
}

.img-port {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: 400px; /* Ajuste o tamanho conforme necessário */
    background-color: #8db986;
    color: #efeae4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: 0 auto; /* Centraliza o quadrado dentro do contêiner */
    cursor: pointer;
}

.img-port img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorcer */
    border-radius: 10px;
}

.img-port:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00000038;
}

.img-port-text {
    font-size: 18px;
    font-weight: 600;
    color: #181D27;
    margin-top: 20px; /* Espaçamento acima do texto */
}

/* Estilo para o rodapé */
/* Estilo para o rodapé */
footer.rodape {
    background-color: #8db986; /* Cor de fundo do rodapé */
    color: #f2efeb;
    padding: 15px 4%;
    text-align: center;
}

.rodape-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; /* Espaçamento entre o texto e os ícones */
    margin-bottom: 5px;
}

.rodape-social h2 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #f2efeb;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #c8c4be;
}

.rodape-copyright {
    border-top: 1px solid #8db986;
    padding-top: 10px;
}

@media screen and (max-width: 1000px) {
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header a {
        text-align: left;
    }
    
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-nav {
        display: none;
    }

    .produto-quadrado {
        margin-bottom: 250px; /* Espaçamento abaixo dos quadrados */
       
    }

    .produto-retangulo {
        display: none;
    
    }
}